/* general app css */
body {
font-family: Helvetica, Arial, sans-serif;
}
*, *:before, *:after {
  box-sizing: border-box;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.parent {
  display: flex;
}

#ratingBox {
  width: auto;
  margin-right: 20px;
}

#ratingBox div h1 {
  overflow-wrap: normal;
}

div#ratingBox * {
  margin-left: 0;
}

#reviewBox {
  width: 100%;
  margin-left: 20px;
  margin-top: 25px;
  height: 650px;
}

#reviewList {
  height: 580px;
  overflow: auto;
}

#reviewList::-webkit-scrollbar {
  width: 10px;
}

#reviewList::-webkit-scrollbar-thumb {
  background: grey;
}

#reviewList::-webkit-scrollbar-thumb:hover {
  background: #5f5e5e;
}

div.parent img {
  cursor: pointer;
}

div.parent img:hover {
  opacity: 0.7;
}

div.parent div {
  margin: 5px;
}

.reviewListItem {
  border-bottom: solid black 1px;
  padding-top: 5px;
  padding-bottom: 20px;
}

/* rating breakdown widget */
.breakdownItem div {
  display: inline-block;
}

.breakdownItem {
  display: flex;
  align-items: center;
}

.factorItem{
  position: relative;
  height: 60px;
  width: 305px;
  }

.factorItemFactors {
  display: flex;
  position: relative;
  top: -35px;
  font-size: 12px;
  width: auto;
}

.smallFactor, .largeFactor, .middleFactor {
  display:inline-block;
  width:auto;
  margin-top: 0;
  color: #767677
}
.smallFactor {
  float: left;
  text-align: left;
}
.largeFactor {
  float: right;
  text-align: right;
  margin-right: 0;
}
.middleFactor {
  text-align:center;
  flex-grow: 1;
}

.factorName {
  margin-bottom: 0;
  font-weight: bolder;
  font-size: 14px;
}

/* new review modal */
#addReviewModal {
  height: 500px;
  display: flex;
  z-index: 10;
  border-radius: 10px;
}

#scrollBarDiv {
  height: 490px;
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
  margin: 0 auto;
  flex-grow: 1;
  position: relative;
}

#allNewReviewForms {
  margin: auto;
  width: 800px
}

#newReviewSubmit {
  margin-bottom: 20px;
}

.reviewDivider {
  width: 100%;
  height: 2px;
  background-color: #ebedee;
  margin-top: 5px;
}

.newPhotoModal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 200;
}

.modal-main, .modal-addPhotos {
  position:fixed;
  background: white;
  width: 1000px;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 5px;
  z-index: 300;
}

.modal-addPhotos {
  top:50%;
  border-radius: 10px;
}

.modal-addPhotos .rSectionTitle {
  margin-bottom: 15px;
  text-align: center;
}

/* new review add photo modal  */
.modal-addPhotos {
  position: absolute;
  width: 400px;
}

#addPhotoBtn {
  margin-bottom: 15px;
}

.modal-addPhotos h3 {
  margin-top: 15px;
}

.display-block {
  display: block;
  top: -5px;
  left: -5px;
}

.display-none {
  display: none;
}

#newReviewPhotoInputs {
  width: fit-content;
  height: fit-content;
  margin: 15px auto
}

.newReviewPhotoInput {
  height: 30px;
  margin-bottom: 2px;
}

.rTextTitle {
  margin-bottom: 5px;
}

.modal-addPhotos .rTextTitle {
  text-align: center;
}

.modal-addPhotos .rSectionTitle {
  width: fit-content;
  margin: 15px auto;
}

#newReviewTop {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  text-align: center;
}

#newReviewTopData {
  display: flex;
  align-items: center;
  height: 200px;
  background-color: #ebedee;
  margin-bottom: 20px;
}

#rProdPhoto {
  width:auto;
  flex: 1;
}

#rProdPhoto img:hover {
  opacity: 1;
  cursor: auto;
}

#rProdPhoto img {
  max-width:200px;
  max-height: 180px;
}

#rProdTitle {
  width: auto;
  font-size: 20px;
  font-weight: bold;
  flex: 1
}

#rProdPhoto, #rProdTitle {
  vertical-align: middle;
}


#newReviewTopTitle {
  text-align: left;
  margin: 20px 0;
}

#newReviewRateRec {
  display: flex;
}

#rRating, #rRec {
  flex: 1
}

#rRating .pSelect {
  margin-bottom: 2px;
  font-size: 12px;
  color: #767677;
}

#recRadios {
  margin-top: 20px;
  display: block;
  margin-left: 0;
}

#recRadios div span, #recRadios div input{
  display: inline-block;
  vertical-align: middle;
}

#no {
  margin-top: 20px;
}

#recRadios div span {
  margin-top: 5px;
  margin-left: 10px;
}

input[type='radio'] {
  height: 20px;
  width: 20px;
}

input[type='radio']:checked {
  background-color: red;
}

.charItem {
  width: 40%;
  position: relative;
  display: inline-block;
  margin-right: 73px !important;
  height: 105px;
  margin-bottom: 25px;
}


.charItem .radioRow {
  position: absolute;
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.charItem .radioRow div {
  display: inline-block;
  width: 25px;
  position: relative;
}

.charItem .factorItemFactors {
  top: 33px
}

.checkCharVal {
  height: 12px;
  font-size: 12px;
}

.modal-main h3 {
  margin-top: 15px;
}

#newReviewText {
  display: flex;
}


#rBody, #rSummary {
  flex: 1;
}

#newReviewText textarea{
  width: 90%;
  height: 100px;
  resize: none;
}

.rUnderText {
  font-size: 12px;
  color: #767677;
}

#rPerInfo {
  display: flex;
}

#rEmail, #rName {
  display: inline-block;
  width:fit-content;
  flex: 1;
}

#rPerInfo input, #newReviewPhotoInputs input {
height: 30px;
font-size: 18px;
}

.redA {
  margin: 0;
  color: red
}

.rNewPhoto {
  margin: 0 2px;
  display: inline-block;
  height: fit-content;
  outline: none;
}

.rNewPhoto img {
  max-width: 50px;
}

/* new rating stars */
.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.rating {
  width: 150px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
}

.rating > label {
  left: -20px;
  float: right;
  display: inline;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: #000;
  font-size: 25px;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
  color: transparent;
  font-size: 25px;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
  content: "\2605";
  font-size: 25px;
  position: absolute;
  left: 0;
  color: #FFD700;
}

/* review stars  */
.checked {
  color: orange;
}

/* review list  */
.response {
  background-color: #ebedee;
  width: 75%;
  padding:10px;
}

#sortBox span {
  display: inline-block;
}

.nameDate {
  float: right;
  border: none
}

.reviewHelpful {
  font-size: 13px;
}

.nameDate, .iRec {
  font-size: 14px;
  color: gray;
}

.reviewBody {
  margin-top: 20px;
  font-weight: 200;
}

/* rating overview stars */
.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";

}

.stars-inner {
  position: absolute;
  top: -5px;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

#reviewList .stars-inner {
  left: -5px;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: red;
}

.attribution {
  font-size: 12px;
  color: #444;
  text-decoration: none;
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: -1;
}
.attribution:hover {
  color: #1fa67a;
}

/* rating stars lines */
.starCountNum {
  font-weight: bolder;
  font-size: 13px;
  white-space: nowrap;
}

.starCountTot {
  font-size: 12px;
}

.outerLine, .innerLine {
  height: 5px;
  margin-left: 5px;
}

.outerLine {
  background-color: black;
  display: inline-block;
  position: relative;
  border-radius: 10px;
  width: 225px;
}

.innerLine {
  background-color: red;
  position: absolute;
  top: -5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#avgRatingNum {
  font-size: 65px;
  font-weight: bold;
}

#avgRatingNum, #avgRatingStars {
  display: inline-block;
}

#avgRatingStars {
  position: relative;
  left: 5px;
}

#avgRecText {
  font-size: 13px;
}

#avgRatingBox {
  font-size: 12px;
  height: 80px;
  margin-bottom: 10px;
}

#underStarsCount {
  margin-top: 12px;
  font-size: 16px;

}

#ratingBox div .ratingDivider {
  height: 1px;
  width: 295px;
  background-color: #ebedee;
  margin-top: 20px;
  margin-bottom: 20px;
}

.factorData {
  display: inline-block;
  position: relative;
  width: 100%;
}

.factorLine {
  height: 5px;
  background-color: #ebedee;
  display: flex;
  position: absolute;
  width: 295px;
  justify-content: space-evenly;
  margin: none;
}

.breakLine {
  width: 5px;
  height: 5px;
  background-color: white;
  top: -5px;
  position: relative;
}

.factorTriangle {
  position: relative;
  top: -11px;
  width:fit-content;
  margin: 0;
}

.factorTriangle::before {
  font-family: FontAwesome;
  content: "\f0d7";
  color: red;
  font-size: 30px;
}

#clearRatingFliterBtn {
  background-color: transparent;
  border: none;
}

#sortBox {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
}

#sortBox .link {
  text-decoration: none;
}

#sortForm {
  border: none;
  font-size: 15px;
  font-weight: bold;
  border-bottom: solid black 3px;
}

#sortForm option {
  font-size: 15px;
  font-weight: bold;
}

.userButton {
  height: 50px;
  width: 200px;
  border: solid grey 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin: 5px;
  background-color: white;
  cursor: pointer;
}

/* image modal  */
#reviewBox #mainButtons .pmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  margin: 0;
}

#addReviewModal .pmodal {
  height: auto;
}


/* Modal Content/Box */
div.parent .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 5% auto;
  display: block;
  padding: 10px;
  border: 1px solid #888;
  width: fit-content;
  max-width: 520px;
  z-index: 10;
}

#addReviewModal .modal-content {
  margin: 5% auto;
  z-index: 350;
}

#addReviewModal{
  z-index: 10;
}

.pModalPhoto {
  max-height: 550px;
  max-width: 500px;
}

#pModal img:hover {
  opacity: 1;
  cursor: auto;
}

/* The Close Button */
.newPhotoModal .modal-addPhotos .pclose {
  position: relative;
  background-color: transparent;
  height:40px;
  width: 40px;
  float: right;
  vertical-align: middle;
  text-align: center;
  z-index: 350;
  outline: none;
  color: red;
}

.fa-times {
  font-weight: bold;

  font-family: FontAwesome;
  font-size: 30px;
}

.newPhotoModal .modal-addPhotos .pclose:hover,
.newPhotoModal .modal-addPhotos .pclose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.text-danger {
  font-size: 12px;
  color: red;
}

#mainButtons {
  display: flex;
  width: fit-content;
}

.acontainer, #moreRevBtn {
  flex-grow: 1;
}

.acontainer {
  width: 200px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acenter {
  width: 200px;
  height: 50px;
  position: absolute;
}

.abtn {
  width: 200px;
  height: 50px;
  cursor: pointer;
  background: transparent;
  border: 1px solid black;
  outline: none;
  transition: 1s ease-in-out;
}

.abtn svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.abtn:hover {
  transition: 1s ease-in-out;
  background: red;
}

.abtn:hover svg {
  stroke-dashoffset: -480;
}

.abtn span {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.abtn:hover span {
  transition: 1s ease-in-out;
  color: white;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

/* new add review modal function */

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.modal-btn:checked + label,
.modal-btn:not(:checked) + label{
  position: relative;
  font-weight: bold;
  font-size: 15px;
  height: 50px;
  transition: all 1s ease-in-out;
  width: 200px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
  border: none;
  cursor: pointer;
  background-color: red;
  color: white;
  border: solid black 1px;
}
.modal-btn:not(:checked) + label:hover{
  background-color:white;
  color: black;
}
.modal-btn:checked + label .uil,
.modal-btn:not(:checked) + label .uil{
	margin-left: 10px;
	font-size: 18px;
}
.modal-btn:checked + label:after,
.modal-btn:not(:checked) + label:after{
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 110;
  width: 40px;
  border-radius: 3px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: transparent;
  color: red;
  font-family: FontAwesome;
  content: '\f00d';
  font-size: 30px;
  transition: all 1s ease-in-out;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
}
.modal-btn:checked + label:hover:after,
.modal-btn:not(:checked) + label:hover:after{
  color: black;

}
.modal-btn:checked + label:after{
  transition: opacity 300ms 300ms ease-in-out, transform 300ms 300ms ease-in-out, background-color 250ms ease-in-out, color 250ms ease-in-out;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.modal{
  position: fixed;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-x: hidden;
  background-color: rgba(31,32,41,.75);
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms 700ms ease;
}

.modal-btn:checked ~ .modal{
  pointer-events: auto;
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.modal-wrap {
  position: relative;
  display: block;
  height: 500px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
  padding-bottom: 20px;
  background-color: #fff;
  -ms-flex-item-align: center;
  align-self: center;
  box-shadow: 0 12px 25px 0 rgba(199,175,189,.25);
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}

.modal-btn:checked ~ .modal .modal-wrap{
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}

body.modal-open {
  overflow: hidden;
}

@media screen and (max-width: 500px) {
	.modal-wrap {
		width: calc(100% - 40px);
		padding-bottom: 15px;
	}
	.modal-wrap p {
	  padding: 15px 20px 0 20px;
	}
}

/* width */
#scrollBarDiv::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
#scrollBarDiv::-webkit-scrollbar-thumb {
  background: red;
}

#scrollBarDiv::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}