
.frame img {
  position: absolute;
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  z-index: 0;
}
.frame {
  position: relative;
  min-width: 230px;
  width: 230px;
  height: 300px;
}
.addList{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  height: 400px;
  place-items: center;
  opacity: 0.5;
  /* filter: alpha(opacity=50); */
}
.addList:hover{
  opacity: 1;
  transition: 0.8s ease;
  cursor: pointer;
  top: 0;
}

.action{
  text-align: center;
  cursor: pointer;
  position: absolute;
  right:0%;
  color: white;
  background-color: rgba(0,0,0,0.6);
  width: 25px;
  height: 25px;
  opacity: 0.6;
  font-weight: bold;
  font-size: 18px;
  border-radius: 20px;
  z-index: 1;
}
.action>.icon {
  margin: 5px -8px;
  position: absolute;
  font-size: 1rem;
}
.compare{
  border-radius: 2px;
}
.action:hover,
.action:focus{
  opacity: 1;
  transition: 0.6s ease;
}
.action:active{
  color: black;
  transition: 0.3s ease;
}

.addList > div:last-child {
  /* font-size: 140; */
  color: black;
  font-weight: bold;
  font-size: 230;
  grid-row: 1/4;
  position: absolute;
  top: 10px;
  text-align: center;
  padding: 10px 45px;
}
.addList > div:first-child {
  grid-row: 0/3;

}
.addList > div:nth-child(2) {
  font-weight: bold;
  font-size: 20;
  text-align: center;
  grid-row: 2/4
}

.card{
  min-width: 230px;
  background-color: white;
  position: relative;
  height: 400px;
  margin-right: 5px;
  display: grid;
  grid-template-rows: repeat(5 1fr);
  /* overflow-y:visible; */

}
.card:hover{
  border: 1px solid #888;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  height: 430px;
}
.category,
.product-name,
.price,
.rating{
  margin-left: 5px;
  direction: ltr;
  text-align: left;
}

.category {
  color: #888;
  font-size: 0.8rem;
}
.sale {
  text-decoration: line-through;
  color: #888;
}
.price>:nth-child(2) {
  margin-left: 5px;
  color:red;
}


.thumbnail-row{
  margin: 3px 1px;
  width: 230px;
  height: 43px;
  overflow-x: auto;
  overflow-y: hidden;
  /* white-space: nowrap; */
}
.thumbnail-row::-webkit-scrollbar{
  display:none;
}

.hover-thumb {
  display:inline-block;
  margin-right: 1px;
}

.hover-thumb:hover{
  border-bottom: 2px solid black;
}
.hover-thumb img {
  overflow:hidden;
  height: 40px;
  width: 40px;
  object-fit: cover;
}