.compare-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: 100%;
  /* background-color: black;
  background-color: rgba(0, 0, 0, 0.5); */
  padding-top: 10%;
  z-index: 5;  /*sit on top */
}

#modal-content {
  background-color: white;
  margin: auto;
  width: 80%;
  padding: 5%;
  border: 1px solid black;
  border-radius: 15px;
}
/*activating modal */
.modal-background-in {
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,.0);
  animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
.modalContent-in {
  transform:translateX(-1500px);
  animation: roadRunnerIn .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

/*closing modal*/
.modal-scale-out {
  animation: quickScaleDown 0s .5s linear forwards;
}
.modal-run-out {
  animation: roadRunnerOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
.modal-background-out {
  animation: fadeOut 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}


@keyframes fadeIn {
  0% {
    background:rgba(0,0,0,.0);
  }
  100% {
    background:rgba(0,0,0,.7);
  }
}

@keyframes fadeOut {
  0% {
    background:rgba(0,0,0,.7);
  }
  100% {
    background:rgba(0,0,0,.0);
  }
}

@keyframes roadRunnerIn {
  0% {
    transform:translateX(-130%) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform:translateX(30px) skewX(0deg) scaleX(.9);
  }
  100% {
    transform:translateX(0px) skewX(0deg) scaleX(1);
  }
}

@keyframes roadRunnerOut {
  0% {
    transform:translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform:translateX(-30px) skewX(-5deg) scaleX(.9);
  }
  100% {
    transform:translateX(130%) skewX(30deg) scaleX(1.3);
  }
}

table{
  text-align: center;
  width: 100%;
  border: 1px solid #888;
  border-radius: 5px;
  border-collapse: collapse;
}
th,td {
  border: 1px solid #888;

}

#close {
  color: #888;
  position: top;
  float: right;
  font-size: 26px;
  font-weight: bold;
}
#close:hover {
  color: black;
  cursor: pointer;
}
.modal-title{
  text-align: center;
  font-weight: bold;
}
tr >:nth-child(1) {
  font-weight: bold;
}