body {
  font-family: Helvetica, Arial, sans-serif;
}

.container{
  position: relative;
}

.list::-webkit-scrollbar{
  display:none;
}
.list {
  display: flex;
  overflow-x:hidden;
  scroll-behavior: smooth;
  margin-top: 20px;
}

.related-products {
  display: grid;
  grid-template-columns: 1170px;
  grid-template-rows: 400px 400px;
  /* z-index: 1; */
}
@media (min-width: 1410px) {
  .related-products{
    grid-template-columns:  1405px;
  }
}
@media (max-width: 1180px) {
  .related-products{
    grid-template-columns:  935px;
  }
}
@media (max-width: 945px) {
  .related-products{
    grid-template-columns:  700px;
  }
}
#related-list {
  /* position: relative; */
  grid-row: 1/2;
  z-index: 2;
  justify-content: center;
}
#outfit-list {
  grid-row: 2/3;
  /* margin-top: 400px; */
  /* z-index: 1; */
}